.links {
	margin: auto;
	margin-top: 2em;
	text-align: center;
}

.svg-icon-link {
	display: inline-block;
	height: 3em;
	width: 3em;
	margin: 0 1em;
	text-decoration: none;
}

.svg-icon path {
	fill: #fff;
}


@media only screen and (max-width: 600px) {
	.svg-icon-link {
		width: 5em;
		height: 5em;
		margin: 0 2em;
	}
}