.name {
	color: #353244;
	display: block;
	font-family: 'Pacifico';
	font-size: 3rem;
	line-height: $tag-height;
	padding-right: 2rem;
	text-align: right;

	text-shadow: 1px 1px 1px rgba(244, 245, 161, 1.0),
	 			 1px 1px 3px rgba(244, 245, 161, 0.4);
}