.words {
	color: $text-color;
	font-family: 'Gauge';
	font-size: 1.3em;
	letter-spacing: 1px;
	line-height: 1.3;
	margin: auto;
	margin-bottom: .7em;
	max-width: 20em;
	text-align: center;

	text-shadow: 1px 3px 2px rgba($text-shadow-color, 0.6),
	0px 8px 13px rgba(0,0,0,0.1), 
	0px 18px 23px rgba(0,0,0,0.1);
}

@media only screen and (max-width: 600px) {
	.words {
		font-size: 1.8rem;
	}
}
